<div class="container">
  <div class="row mt-5">
      <div class="col-md-4 mx-auto">
          <form (ngSubmit)="crear()" novalidate #f="ngForm">
              <div class="form-group">
                  <label for="tipo">Tipo</label>
                  <select class="form-control" name="tipo" [(ngModel)]="tipo" #caracter   >
                    <ng-container *ngFor="let tipo of getTipos()">
                      <option [ngValue]="tipo">{{tipo.tipo}}</option>
                    </ng-container>
                  </select>
                    <ng-container *ngFor="let caracteristica of getCaracteristicas()" >
                      <ng-container *ngIf="tipo">
                        <ng-container *ngIf="caracteristica.tipo.id == tipo.id">
                          <h5 >{{caracteristica.caracteristica}}</h5>

                          <select class="form-control" name="opcion" [(ngModel)]="opcion" (change)="setCaracterValue(caracteristica.caracteristica)">
                            <ng-container *ngFor="let opcion of getOpciones()">
                              <ng-container *ngIf="opcion.caracteristica.id == caracteristica.id">
                                <option [ngValue]="opcion">{{opcion.opcion}}</option>
                              </ng-container>
                            </ng-container>
                          </select>
                        </ng-container>

                      </ng-container>
                    </ng-container>
              </div>
              <button class="btn btn-outline-success btn-block" [disabled]="!f.valid">Crear</button>
          </form>
      </div>
  </div>
</div>

