<footer class="py-5 bg-dark">

  <div class=" container px-5">
   <div class="row">
    <div class="col-sm text-center mediumn">
      <p class="m-2 "><a class="link-light" href="https://www.digitales.es/en/legal-warning/">Legal Warning</a></p>
      <p class="m-2 "><a class="link-light" href="https://policies.google.com/privacy?hl=en">Privacy Policy</a></p>
      <p class="m-2 "><a class="link-light" href="https://ec.europa.eu/info/cookies_es">Coockies Policy</a></p>
    </div>
    <div class="col-sm">
    
      <p class="mt-5 text-center text-white mediumn">Copyright &copy; Our Website 2022</p>
 
  </div>
    <div class="col-sm text-center">
  
     <div class="mt-2">
      <p class="text-white">Síguenos en: </p>
        <a href="https://twitter.com/home?lang=es"><img src="/assets/images/b1a3fab214230557053ed1c4bf17b46c-logotipo-de-icono-de-twitter.png" style="width: 40px;" > </a>
      
    <a href="https://www.instagram.com/"> <img src="/assets/images/instagram-1865894-1581910.webp" style="width: 40px;" > </a>
    
     
    <a href="https://es-es.facebook.com/"><img src="/assets/images/90dd9f12fdd1eefb8c8976903944c026-logotipo-de-icono-de-facebook.png" style="width: 40px;" > </a>
  </div>
  </div>
 
</div>
  </div>

</footer>
  
