
<table id="tipoFilters" class="table table-striped">
    <thead class="thead-light">
        <tr><th>Tipo</th></tr>
    </thead>
    <tbody>
        <tr><td>
            <div class="form-group">
                <label for="tipoList">Elige el tipo</label>
                <select #tipo class="form-control" id="tipoList" (change)="setTipo(tipo.value)"  >
                    <option value="0">(Elige el tipo)</option>
                    <ng-container *ngFor="let tipo of getOrdenadores()">
                        
                        
                        <ng-container *ngIf="tipo.tipo.tipo !== 'Ordenadores' &&  tipo.tipo.tipo !== 'Impresora' && tipo.tipo.tipo !== 'Pantallas'">
                           
                                <option value="{{tipo.tipo.id_tipo }}">{{tipo.tipo.tipo }}</option>
                   
                            
                        </ng-container>  
                    </ng-container>
                </select>
            </div>
          
        </td></tr>
    </tbody>
</table>
<table id="tecFilters" class="table table-striped">
    <thead class="thead-light">
        <tr><th>TECNOLOGÍA</th></tr>
    </thead>
    <tbody>
        <tr><td>
            <div class="form-group">
                <label for="techList">Elige una tecnología</label>
                <select #tec class="form-control" id="techList"  >
                    <option value="0">(Elige una tecnología)</option>
                    <ng-container >
                        <option value="{{tec.id}}"></option>
                    </ng-container>
                </select>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="tec1" checked>
                <label class="form-check-label" for="tec1">Tecnología1</label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="tec2" checked>
                <label class="form-check-label" for="tec2">Tecnología2</label>
            </div>
        </td></tr>
    </tbody>
</table>
<table id="tecFilters" class="table table-striped">
    <thead class="thead-light">
        <a routerLink="/nav" routerLinkActive="active" aria-current="page" href="#">  <tr><th>Crear Ordenador</th></tr> </a>
    </thead>
</table>
<button class="btn btn-primary" id="resetFilters" (click)="tipo.value=''; tec.value='0' ;">Borrar filtros</button>