<app-menu></app-menu>

<div class="masthead mt-5" >
  <div class="container ">
<div class="row justify-content-center mt-5">
<h1 class="display-4 text-center">Usuarios</h1>
<div class="list-group  col-lg-4 col-sm-8 ">
  <div *ngFor="let usuario of getUsuarios()" class="list-group-item ">
    <span style="font-size: 20px;">-{{usuario.nombre}}</span>
    <button (click)="eliminarUsuario(usuario.id)" class="btn btn-danger" style="float: right;">Eliminar</button>
  </div>
<br>
  <button class="btn btn-outline-success" routerLink="/registro">Nuevo Usuario</button>
  
</div>

</div>
<div class="d-flex justify-content-center mt-3">
  <button class="btn btn-primary "  routerLink="/nav" routerLinkActive="active">Volver al menu</button>

</div>
</div>
</div>

