<table id="marcaFilters" class="table table-striped">
    <thead class="thead-light">
        <tr><th>Marca</th></tr>
    </thead>
    <tbody>
        <tr><td>
            <div class="form-group">
                <label for="marcaList">Elige una marca</label>
                <select #marca class="form-control" id="marcaList" (change)="setMarca(marca.value)">
                    <option value="0">(Elige una marca)</option>
                    <ng-container *ngFor="let marca of getOrdenadores()">
                        
                        <ng-container *ngFor="let resultado of marca.resultados">
                         
                            <ng-container *ngIf="resultado.caracteristica.caracteristica === 'Marca' && marca.tipo.tipo === 'Pantallas'">
                                <option value="{{resultado.opcion.id_opcion }}">{{resultado.opcion.opcion }}</option>
                   
                            </ng-container>
                        </ng-container>
                    </ng-container>
                </select>
            </div>
          
        </td></tr>
    </tbody>
</table>
<table id="tecFilters" class="table table-striped">
    <thead class="thead-light">
        <tr><th>Color</th></tr>
    </thead>
    <tbody>
        <tr><td>
            <div class="form-group">
                <label for="techList">Elige una Resolucion</label>
                <select #tec class="form-control" id="techList"  >
                    <option value="0">(Elige una Resolucion)</option>
                    <ng-container *ngFor="let resolucion of getOrdenadores()">
                        
                        <ng-container *ngFor="let resultado of resolucion.resultados">
                         
                            <ng-container *ngIf="resultado.caracteristica.caracteristica === 'Resolucion' && resolucion.tipo.tipo === 'Pantallas'">
                                <option value="{{resultado.opcion.id_opcion }}">{{resultado.opcion.opcion }}</option>
                   
                            </ng-container>
                        </ng-container>
                    </ng-container>
                </select>
            </div>
           
        </td></tr>
    </tbody>
</table>
<table id="tecFilters" class="table table-striped">
    <thead class="thead-light">
        <a routerLink="/nav" routerLinkActive="active" aria-current="page" href="#">  <tr><th>Crear Impresora</th></tr> </a>
    </thead>
</table>
<button class="btn btn-primary" id="resetFilters" (click)="marca.value=''; tec.value='0' ;">Borrar filtros</button>