<app-menu></app-menu>
<div class="masthead" >
<div class="container">
  <div class="row mt-5">
    <div class="col-md-4 mx-auto">
      <br>

      <form (ngSubmit)="nuevaOpcion()" novalidate #f="ngForm">
        <h1 for="nombre" class="display-5">Nueva opción</h1>
        <input class="form-control" type="text" name="opcion" [(ngModel)]="opcion"><br>
        <button class="btn btn-outline-success btn-block"
          [disabled]="opcion === '' || opcion.trim().length===0">Añadir</button>
      </form>
    </div>
  </div>
  <div class="d-flex justify-content-center mt-3">
  <button  routerLink="/caracteristicas" class="btn btn-primary">Volver</button>
</div>
</div>
</div>