<div class="container">
  <div class="row mt-5">
    <div class="col-md-4 mx-auto">
      <form (ngSubmit)="guardarFull()" novalidate #f="ngForm">
        <ng-container *ngFor="let caracteristicaf of getCaracteristicas(); let i = index">
          <label for="caracteristicaf">{{caracteristicaf.caracteristicaf}}</label>
          <input class="form-control" type="text" name="respuesta" [(ngModel)]="respuesta[i]">
        </ng-container>




        <ng-container *ngIf="ultimoDispositivo && caracteristicas">
        <ng-container *ngFor="let caracteristica of getOptions(ultimoDispositivo.tipo.tipo); let i = index">
            <ng-container *ngIf="caracteristica.tipo.id == ultimoDispositivo.tipo.id">
              <div class="form-group">
                <h5>{{caracteristica.caracteristica}}</h5>
                <select class="form-control" name="opcion" [(ngModel)]="opcionf[i]">
                  <option  *ngFor="let opcion of caracteristica.opciones" [ngValue]="opcion" >{{opcion.opcion}}</option>
                </select>
              </div>
            </ng-container>
          </ng-container>
        </ng-container>


        <button class="btn btn-outline-success btn-block" [disabled]="!f.valid">Crear</button>
      </form>
    </div>
  </div>
</div>
