<div class="container">
<table id="marcaFilters" class="table" style="background-color: white; ">
  <thead class="thead-light"style="text-align: center;">
    <tr>
      <th style="font-size: 20px;">Búsqueda</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>
        <div class="form-group">
          <input #patron type="text" class="form-control" id="modelo" placeholder="Nombre del dispositivo"
            (keyup)="setPatron(patron.value)" style="text-align: center;">
        </div>
      </td>
    </tr>

    <tr>
      <td>
        <button type="button" class="btn btn-white btn-block" routerLink="/caracteristicas-fijas" style="cursor: pointer; font-size: 17px;">Características Generales</button>
      </td>
    </tr>

    <tr>
      <td>
        <button routerLink="/nuevo-dispositivo" type="button" class="btn btn-white btn-block" id="resetFilters" (click)="patron.value=''" style="cursor: pointer; font-size: 17px;">Añadir nuevo
          dispositivo</button>
      </td>
    </tr>
    <tr>
      <td>
        <button routerLink="/nav" type="button" class="btn btn-white btn-block" id="resetFilters" (click)="patron.value=''" style="cursor: pointer; font-size: 17px;">Volver al menú</button>
      </td>
    </tr>
  
  </tbody>
</table>

<br>
</div>



