
<div class="container">
    <div class="row">
      <div class="col">
        <a routerLink="/ordenadores" routerLinkActive="active" class="nav-link" aria-current="page" href="#">
        <button type="button"  class="btn btn-outline-primary">ordenadores</button></a><br>
        <a routerLink="/pantallas" routerLinkActive="active" class="nav-link" aria-current="page" href="#">
        <button type="button" class="btn btn-outline-secondary">pantallas</button></a>
      
      </div>
      <div class="col">
        <a routerLink="/impresoras" routerLinkActive="active" class="nav-link" aria-current="page" href="#">
        <button type="button" class="btn btn-outline-success">Impresoras</button></a><br>
        <a routerLink="/otros" routerLinkActive="active" class="nav-link" aria-current="page" href="#">
        <button type="button" class="btn btn-outline-danger">Otros</button></a>
      </div>
     
    </div>
  </div>
