<app-menu></app-menu>
<div class="container">
    <div class="row">
      <div class="col">
        <a routerLink="/ordenadores" routerLinkActive="active" class="nav-link" aria-current="page" href="#">
        <button type="button"  class="btn btn-outline-primary">Dispositivos</button></a><br>
        <a routerLink="/tipos" routerLinkActive="active" class="nav-link" aria-current="page" href="#">
          <button type="button"  class="btn btn-outline-primary">Tipos</button></a><br>
      </div>

    </div>
  </div>
