
<div class="container  mt-3">
<div class="row card" style="background-color: #FFFFFFF2;">
  <div class="col col-lg-3">

    <h1 class="display-6">-{{ordenador.tipo.tipo}}</h1>
  </div>
  <div class="col col-lg-4  align-self-center" >

    <div class="card" style=" align-items: center;" >
   <div class="card-body " >

    <div *ngFor=" let resultado of ordenador.resultadosf"
     class="lead">
      {{resultado.caracteristicaf.caracteristicaf }}: {{resultado.respuesta }}
   </div>
   <br>
    <div *ngFor=" let resultado of ordenador.resultados"   class="lead">
      {{resultado.caracteristica.caracteristica }} : {{resultado.opcion.opcion }}
    </div>

    <div class="lead" *ngIf="ordenador.ubicaciones">
    <b>Ubicacion</b> {{ordenador.ubicaciones[ordenador.ubicaciones.length-1].lugar}}
    </div>

    <br>
    <div class="">
      <a routerLink="/dispositivo/{{ordenador.id}}" routerLinkActive="active" aria-current="page"
      href="#">
      <button #dispositivo type="button" class="btn btn-light"  style="border-color:grey ;">Generar QR</button></a>
    <button (click)="eliminarDispositivo(ordenador.id)" type="button"
    class="btn btn-danger" style="margin-left:20px;">Eliminar</button>
  </div>

  </div>
  </div>
  <br>
</div>

</div>
</div>

