<header class="masthead text-center text-white">
  <div class="masthead-content">

          <h1 class="masthead-heading mb-1">Inventario</h1>
          <h2 class="masthead-subheading mb-1">Guarda todo lo que quieras aqui</h2>
          <div class="container">
            <div class="row">
              <div class="col">
                <a routerLink="/dispositivos" routerLinkActive="active" class="btn btn-primary btn-xl rounded-pill mt-5" aria-current="page" href="#">
                  Dispositivos</a><br>
                <a routerLink="/tipos" routerLinkActive="active" class="btn btn-primary btn-xl rounded-pill mt-3" aria-current="page" href="#">
                  Tipos</a><br>
              </div>
            </div>
          </div>
      
  </div>
         <div class="bg-circle-1 bg-circle"></div>
          <div class="bg-circle-2 bg-circle"></div>
          <div class="bg-circle-3 bg-circle"></div>
          <div class="bg-circle-4 bg-circle"></div>
</header>